html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  margin-bottom: 30px;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 350px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 180px) {
  html {
    font-size: 40%;
  }
}