.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    font-size: 1.5rem;
}

.about {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.description {
    color: #333;
}

.downloadBtn {
  background-color: rgb(119, 0, 153);
  color: white;
  border: none;
}

.tutorialBtn {
  background: none;
  border: 1px solid rgb(119, 0, 153);
  color: rgb(119, 0, 153);
}

.downloadBtn,
.tutorialBtn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 0;
    max-width: 150px;
    width: calc(100vw - 20px);
    margin: 0 10px;
    border-radius: 5px;
    outline: none;

    transition: transform 200ms;
}

.downloadBtn:hover,
.tutorialBtn:hover {
    transform: scale(1.1);
}
